/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    background-image: url(cbn.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 240px;
    max-height: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
}

.form-container {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .form-wrapper {
        flex-direction: column;
    }
    
    .form-container {
        margin-bottom: 10px;
    }
}
